<header class="journal-page-header">
  <h1>{{title}}</h1>
</header>

{{#if (eq engine "markdown")}}
  <!--  TODO: Markdown -->
  <div class="markdown-editor">
    <a class="editor-edit"><i class="fas fa-edit"></i></a>
    <div class="enriched-content">
      {{{editor.content}}}
    </div>
    <div class="markdown-editor-content" style="display: none">
      <input type="hidden" name="{{concat "pages." data._id ".text.format"}}" value="2" data-dtype="Number">
      <textarea class="markdown-editor" name="{{concat "pages." data._id ".text.markdown"}}" spellcheck="false" autofocus>
        {{~data.text.markdown~}}
      </textarea>
    </div>

  </div>


{{else}}
  {{editor
    editor.content
    target=(concat "pages." data._id ".text.content")
    button=editable
    editable=editable
    engine=engine
    class="journal-page-content"
    collaborate=editor.collaborate
  }}
{{/if}}

