@font-face {
  font-family: 'JetBrains Mono Regular';
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// =============

.sheet.journal-entry article img:not(.nopopout) {
  // Hide empty images
  &:not([src]),
  &[src=''] {
    visibility: hidden;
  }
}

.sheet.journal-entry .journal-sidebar .action-buttons {
  .add-page-buttons {
    display: flex;
    margin: 0.5rem 0;
    height: 28px;

    button {
      margin: 0 0.125rem;
      padding: 0;

      i {
        margin-right: 0;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

// Fix checkbox misalignment
.sheet.journal-entry-page .journal-header .show-title {
  white-space: nowrap;
}

// Integrated editor
.sheet.journal-improvements .editor {
  max-height: none;
  height: 100% !important;
  min-height: 100px;
  .editor-edit {
    position: absolute;
  }

  .tox {
    height: 624px !important;
  }
  &.prosemirror {
    min-height: 620px;
  }
}

// Input page name
.sheet.journal-improvements article header input {
  font-family: var(--font-primary);
  font-size: var(--font-size-28);
  height: var(--font-size-34);
  margin-bottom: 8px;
}

// Markdown editor
.sheet.journal-improvements article textarea.markdown-editor {
  min-height: 610px;
  padding: 8px;
  font-family: 'JetBrains Mono Regular', 'Roboto Mono', 'Courier New', monospace;
  font-size: var(--font-size-15);
}

.sheet.journal-improvements article .markdown-editor .editor-edit {
  position: absolute;
}

// ============================
//    EXTERNAL UI INTEGRATION
// ============================

.ij-dorako-fix {
  &.journal-entry .journal-sidebar .action-buttons {
    .add-page-buttons {
      display: flex;
      margin: 0.5rem 0;
      height: 28px;

      button {
        margin: 0 0.25rem;
        border: none;
        box-shadow: var(--gold-and-glow);
      }
    }
  }
}
